<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./public/styles/style.css">
  <title>StockSpark
  </title>
</head>
<body>
  <img src="public/picture1.png" alt="StockSpark logo">
  <div id="title">
    <h1>StockSpark</h1>
  </div>
  <div id="search">
    <h2 id="enter-symbol">Enter NASDAQ stock symbol</h2>
    <div id="search-container">
      <form action='/:symbol' method="GET">
        <input class="form-input" type="text" placeholder="NASDAQ Stock Symbol" name="search">
        <div id="space"> </div>
        <button id="enter-button" class="btn" type="submit">See Closing Price</button>
    </form>
    </div>
    <div id="terms-conditions">
      <p id="terms-conditions-words">By clicking, I accept these</p>
      <a id="terms-conditions-link" href="link"> Terms and Conditions </a>
    </div>
  </div>
  <div id="response">
  </div>
  <footer id="footer">
    <p id="footer-info">All stock information provided by Alpha Vantage API</p>
    <p id="signature">NYCDA Project by Natasa, Shelby, Margaret, and Kevin</p>
  </footer>
</body>
</html>